<div class="container pt-5">
    <div class="main-body">
    
          {{!-- <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb --> --}}
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.Name}}</h4>
                      {{!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> --}}
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                          <button type="button" class="btn btn-link btn-block mt-3" data-toggle="modal" data-target="#staticBackdrop1">
                              Add Address
                          </button>
                            {{!-- <a href="/userAddress "> <h4>Address </h4> </a>  --}}
                      </li>
                      <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                          <a href=" ">  <h4>Manage Order</h4> </a> 
                      </li>
                      <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                           <a href=" "> <h4>WishList</h4> </a>   
                      </li>
                      <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                         <a href=" "> <h4>Edit </h4>  </a>    
                      </li>                        
                      <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                        <a href=" "> <h4>Payment Methods</h4> </a>
                        {{!-- <h4>Payment Methods</h4> --}}
                      </li>               
                </ul>
              </div>

            </div>

            <div class="col-md-8">
              <div class="card mb-3">

                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info float-right " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.Name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.Email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.phone}}
                    </div>
                  </div>
                  {{!-- <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (320) 380-4539
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Bay Area, San Francisco, CA
                    </div>
                  </div> --}}
                  {{!-- <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div> --}}
                </div>
              </div>

              <div class="row gutters-sm">               
                
              </div>



            </div>
          </div>

        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-70">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add Address</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                
            </div>
            <div class="modal-body p-3">
                <form action="/userProfileAddress" method="post">
                    <!-- Email input -->
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" name="Name"
                                class="form-control" placeholder="Enter Name" value="" required></div>

                        <div class="col-md-12"><label class="labels">Email</label><input type="text" name="Email"
                                class="form-control" placeholder="Enter Email" value="" required></div>

                        <div class="col-md-12"><label class="labels">Mobile</label><input type="number" name="mobile"
                                class="form-control" placeholder="Enter Mobile" value="" required></div>

                        {{!-- <div class="col-md-12"><label class="labels">Building Name</label><input type="text"
                                name="Building_Name" class="form-control" placeholder="enter Building Name" value="" required>
                        </div> --}}
                        <div class="col-md-12"><label class="labels">Address</label><input type="text"
                                name="Address" class="form-control" placeholder="Enter Address" value="" required></div>
                        {{!-- <div class="col-md-12"><label class="labels">City</label><input type="text" name="City"
                                class="form-control" placeholder="enter City" value="" required></div> --}}
                        {{!-- <div class="col-md-12"><label class="labels">District</label><input type="text" name="District"
                                class="form-control" placeholder="enter District" value="" required></div> --}}
                        {{!-- <div class="col-md-12"><label class="labels">State</label><input type="text" name="State"
                                class="form-control" placeholder="enter State" value="" required></div> --}}
                        <div class="col-md-12"><label class="labels">Pincode</label><input type="text" name="Pincode"
                                class="form-control" placeholder="enter Pincode" value="" required></div>
                        {{!-- <div class="col-md-12"><label class="labels">Country</label><input type="text" name="Country"
                                class="form-control" placeholder="country" value="" required></div> --}}
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>
