<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">User SignUp</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              
              <form action="/signup" method="POST">
              {{!-- {{#if loginError}}
                <p style="color:red;" class="error">Invalid username or password </p>
              {{/if}} --}}
              <div class="form-outline form-white mb-4">
                <label class="form-label"  for="typeEmailX">Name</label>
                <input type="name" name="Name" id="typeEmailX" class="form-control form-control-lg" />
              </div>
              <div class="form-outline form-white mb-4">
                <label class="form-label"  for="typeEmailX">Email</label>
                <input type="email" name="Email" id="typeEmailX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label"  >Password</label>
                <input type="password" name="Password" id="typePasswordX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label"  >Repeat your Password</label>
                <input type="password" name="RePassword" id="typePasswordX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label"  for="phoneNumber">Phone Number</label>
                <input type="tel" name="phone" id="phoneNumber" class="form-control form-control-lg" />
                
              </div>
              {{!-- <div class="form-outline">
                    <input type="tel" name =id="phoneNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div> --}}
              
              {{!-- <div class="form-outline form-white mb-4">
                <input type="password" name="Re Password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label"  >Reat Password</label>
              </div> --}}
              
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

            </div>

            <div>
              <p class="mb-0">Do you have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>